<% include ./include/header.ejs %>
<main class="main sub_page minwon_detail_page">

    <% include ./include/gnb.ejs %>

    <div class="sub_inner_box">
        <div class="container_980">

            <div class="left_content">
                <section class="s_content sc1">
                    <h3 class="s_title">민원 상세</h3>

                    <form class="minwon_form">

                        <div class="input_table_box">
                            <table class="table input_table">
                                <colgroup>
                                    <col span="1" style="width:15%"/>
                                    <col span="1" style="width:35%;">
                                    <col span="1" style="width:15%;">
                                    <col span="1" style="width:35%;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>민원구분</th>
                                    <td>
                                        <span class="minwon_kind"><%=post.type%></span>
                                    </td>
                                    <th>등록일시</th>
                                    <td>
                                        <div class="minwon_time_box">
                                            <i class="far fa-clock"></i>
                                            <span class="minwon_time"><%=post.writedate%></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>신청인 ID</th>
                                    <td colspan="3">
                                        <span class="person_id"><%=post.writer%></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>민원 제목</th>
                                    <td colspan="3">
                                        <span class="person_title"><%=post.title%></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="v_top">민원 내용</span>
                                    </th>
                                    <td colspan="3">
                                        <div class="minwon_txt ">
                                            <%-post.content%>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="v_top">도민들의 참여</span>
                                    </th>
                                    <td colspan="3">
                                        <div class="reply_box">
                                            <%post.replies.forEach(function(reply){%>
                                            <div class="reply_small_box">
                                                <div class="reply_id_box d_inline_block">
                                                    <span class="reply_id"><%=reply.author%></span>
                                                </div>
                                                <div class="reply_title_box d_inline_block">
                                                    <p class="reply_title"><%=reply.body%></p>
                                                </div>
                                                <div class="reply_time_box d_inline_block">
                                                    <i class="far fa-clock"></i>
                                                    <span class="reply_time"><%=reply.created%></span>
                                                </div>
                                            </div>
                                            <%})%>

                                        </div> <!-- END reply_box-->
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <span class="v_top">댓글 달기</span>
                                    </th>
                                    <td colspan="3">
                                        <div class="reply_write_box">
                                            <textarea rows="4" cols="50" class="reply_txt"
                                                      disabled="disabled"></textarea>
                                            <button type="button" class="reply_btn">댓글 달기</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table> <!-- END minwon_table-->

                        </div> <!-- END minwon_table_box-->
                        <div class="min_btn_box">
                            <button type="submit" class="vote_btn">응원하기</button>
                            <button type="submit" class="submit_btn">확 인</button>
                        </div> <!-- END min_btn_box-->

                    </form>
                </section> <!-- END sc1-->
            </div> <!-- END left_content-->

            <% include ./include/sub_btn.ejs %>
            <% include ./include/quick.ejs %>

        </div> <!-- END container-->
    </div> <!-- END sub_inner_box-->

    <% include ./include/purple_line.ejs %>

</main> <!-- END main-->

<% include ./include/footer.ejs %>
